.shop-name{
    width: 100%;
    background-color: orange;
    color: white;
    font-size: 400%;
    margin: 0%;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.product-list{
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
}


.shop-page{
    display: flex;
    flex-direction: row;
}

.shop{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-product-button{
    background-color: orange;
    border: 0px;
    margin: 5% 0 2% 0;
    width: 20%;
    height: 30px;
}